pipelines/data-factory/pipeline/pl_crg_syn_fact_hito.json
{
	"name": "pl_crg_syn_fact_hito",
	"properties": {
		"activities": [
			{
				"name": "cd_th_hito",
				"description": " ",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FK_HITO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_HITO",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_PERIODO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PERIODO",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "VLR_PLAN_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PLAN_HITO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "VLR_REAL_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_REAL_HITO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "PRC_CUMP_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRC_CUMP_HITO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_BAJO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_BAJO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_MEDIO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_MEDIO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_ALTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_ALTO",
									"type": "Decimal",
									"physicalType": "DECIMAL"
								}
							},
							{
								"source": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								},
								"sink": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DESC_ORIGEN",
									"type": "String"
								},
								"sink": {
									"name": "DESC_ORIGEN",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String"
								},
								"sink": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_saphana_th_hito",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_th_hito",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "cd_dl_syn_th_hito",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd_th_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE \"ATOMO\".\"STG.TH_HITO\" ",
						"allowCopyCommand": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FK_HITO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_HITO",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_PERIODO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PERIODO",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "VLR_PLAN_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PLAN_HITO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "VLR_REAL_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_REAL_HITO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "PRC_CUMP_HITO",
									"type": "Decimal"
								},
								"sink": {
									"name": "PRC_CUMP_HITO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_BAJO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_BAJO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_MEDIO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_MEDIO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "VLR_PROY_ESC_ALTO",
									"type": "Decimal"
								},
								"sink": {
									"name": "VLR_PROY_ESC_ALTO",
									"type": "Decimal"
								}
							},
							{
								"source": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								},
								"sink": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DESC_ORIGEN",
									"type": "String"
								},
								"sink": {
									"name": "DESC_ORIGEN",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String"
								},
								"sink": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_th_hito",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_syn_stg_th_hito",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "If_Condition_th_hito",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lkp_Dwh_th_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lkp_Dwh_th_hito').output.firstRow.Conteo,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "cd_syn_stg_dwh_fact_hito_Delta",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ATOMO].[SP_FACT_HITO_INCREMENTAL]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "TRUNCATE TABLE \"ATOMO\".\"DWH.FACT_HITO\"",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"FK_HITO",
											"FK_PARAM_INDICADOR",
											"FK_PERIODO"
										],
										"interimSchemaName": "ATOMO"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "dlaeuecpdevatomo",
										"type": "LinkedServiceReference"
									},
									"path": "raw"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FK_HITO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_HITO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PERIODO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PERIODO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "VLR_PLAN_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PLAN_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_REAL_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_REAL_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "PRC_CUMP_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "PRC_CUMP_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_BAJO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_BAJO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_MEDIO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_MEDIO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_ALTO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_ALTO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											},
											"sink": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DESC_ORIGEN",
												"type": "String"
											},
											"sink": {
												"name": "DESC_ORIGEN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FK_TIPOSINCONSISTENCIA",
												"type": "String"
											},
											"sink": {
												"name": "FK_TIPOSINCONSISTENCIA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											},
											"sink": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											},
											"sink": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "CM_RESUMEN",
												"type": "String"
											},
											"sink": {
												"name": "CM_RESUMEN",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_syn_stg_th_hito",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_syn_dwh_fact_hito",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "cd_syn_stg_dwh_fact_hito",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderStoredProcedureName": "[ATOMO].[SP_FACT_HITO_INICIAL]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "TRUNCATE TABLE [ATOMO].[DWH.FACT_HITO]",
									"writeBehavior": "Insert",
									"disableMetricsCollection": false
								},
								"enableStaging": true,
								"stagingSettings": {
									"linkedServiceName": {
										"referenceName": "dlaeuecpdevatomo",
										"type": "LinkedServiceReference"
									},
									"path": "raw"
								},
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FK_HITO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_HITO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PERIODO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PERIODO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "VLR_PLAN_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PLAN_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_REAL_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_REAL_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "PRC_CUMP_HITO",
												"type": "Decimal"
											},
											"sink": {
												"name": "PRC_CUMP_HITO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_BAJO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_BAJO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_MEDIO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_MEDIO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "VLR_PROY_ESC_ALTO",
												"type": "Decimal"
											},
											"sink": {
												"name": "VLR_PROY_ESC_ALTO",
												"type": "Decimal"
											}
										},
										{
											"source": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											},
											"sink": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DESC_ORIGEN",
												"type": "String"
											},
											"sink": {
												"name": "DESC_ORIGEN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FK_TIPOSINCONSISTENCIA",
												"type": "String"
											},
											"sink": {
												"name": "FK_TIPOSINCONSISTENCIA",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											},
											"sink": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											},
											"sink": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "CM_RESUMEN",
												"type": "String"
											},
											"sink": {
												"name": "CM_RESUMEN",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_syn_stg_th_hito",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_syn_dwh_fact_hito",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Lkp_Dwh_th_hito",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "cd_dl_syn_th_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS Conteo FROM [ATOMO].[DWH.FACT_HITO]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_syn_dwh_fact_hito",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"folder": {
			"name": "ATOMO/PLComplejos_Fact"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-02T13:07:19Z"
	}
}