pipelines/data-factory/pipeline/pl_crg_syn_fact_actividad_entregable_hito.json
{
	"name": "pl_crg_syn_fact_actividad_entregable_hito",
	"properties": {
		"activities": [
			{
				"name": "cd_th_actividad_entregable_hito",
				"description": " ",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OdbcSource",
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FK_HITO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_HITO",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_ENTREGABLE",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_ENTREGABLE",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_ACTIVIDAD",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_ACTIVIDAD",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "FK_PERIODO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PERIODO",
									"type": "Int64",
									"physicalType": "INT_64"
								}
							},
							{
								"source": {
									"name": "IND_CUMPLIMIENTO",
									"type": "Int32"
								},
								"sink": {
									"name": "IND_CUMPLIMIENTO",
									"type": "Int32",
									"physicalType": "INT_32"
								}
							},
							{
								"source": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								},
								"sink": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime",
									"physicalType": "INT_96"
								}
							},
							{
								"source": {
									"name": "DESC_ORIGEN",
									"type": "String"
								},
								"sink": {
									"name": "DESC_ORIGEN",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String"
								},
								"sink": {
									"name": "FK_TIPOSINCONSISTENCIA",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_src_saphana_th_actividad_entregable_hito",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_adls_th_actividad_entregable_hito",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "cd_dl_syn_th_actividad_entregable_hito",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cd_th_actividad_entregable_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "TRUNCATE TABLE \"ATOMO\".\"STG.TH_ACTIVIDAD_ENTREGABLE_HITO\"",
						"allowCopyCommand": true,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "FK_HITO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_HITO",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PARAM_INDICADOR",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_ENTREGABLE",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_ENTREGABLE",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_ACTIVIDAD",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_ACTIVIDAD",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "FK_PERIODO",
									"type": "Int64"
								},
								"sink": {
									"name": "FK_PERIODO",
									"type": "Int64"
								}
							},
							{
								"source": {
									"name": "IND_CUMPLIMIENTO",
									"type": "Int32"
								},
								"sink": {
									"name": "IND_CUMPLIMIENTO",
									"type": "Int32"
								}
							},
							{
								"source": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								},
								"sink": {
									"name": "DESC_CORREO_USUARIO",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHA_EVENTO_REGISTRO",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								},
								"sink": {
									"name": "DTM_FECHACARGA",
									"type": "DateTime"
								}
							},
							{
								"source": {
									"name": "DESC_ORIGEN",
									"type": "String"
								},
								"sink": {
									"name": "DESC_ORIGEN",
									"type": "String"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "ds_adls_th_actividad_entregable_hito",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_syn_stg_th_actividad_entregable_hito",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lkp_dwh_actividad_entregable_hito",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "cd_dl_syn_th_actividad_entregable_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT COUNT(*) AS Conteo \nFROM [ATOMO].[DWH.FACT_ACTIVIDAD_ENTREGABLE_HITO]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_syn_dwh_fact_actividadentregable_hito",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "If_Condition_actividad_entregable_hito",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Lkp_dwh_actividad_entregable_hito",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Lkp_dwh_actividad_entregable_hito').output.firstRow.Conteo,0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "cd_syn_stg_dwh_fact_actividad_entregable_hito_Delta",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"additionalColumns": [
										{
											"name": "FECHA_CARGA_SYNAPSE",
											"value": {
												"value": "@formatDateTime(concat(substring(string(startOfHour(getFutureTime(-7,'Hour'))),0,10),' ',substring(string(startOfHour(getFutureTime(-7,'Hour'))),11,8)))",
												"type": "Expression"
											}
										},
										{
											"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
											"value": {
												"value": "@formatDateTime(concat(substring(string(startOfHour(getFutureTime(-5,'Hour'))),0,10),' ',substring(string(startOfHour(getFutureTime(-5,'Hour'))),11,8)))",
												"type": "Expression"
											}
										}
									],
									"sqlReaderQuery": "SELECT [FK_HITO]\n      ,[FK_PARAM_INDICADOR]\n      ,[FK_ENTREGABLE]\n      ,[FK_ACTIVIDAD]\n      ,[FK_PERIODO]\n      ,CAST(CONCAT(CAST([FK_PERIODO] AS Varchar),'01') AS BIGINT) AS FK_TIEMPO \n      ,[IND_CUMPLIMIENTO]\n      ,[DESC_CORREO_USUARIO]\n      ,[DTM_FECHA_EVENTO_REGISTRO]\n      ,[DTM_FECHACARGA]\n      ,[DESC_ORIGEN]\n      ,[FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE]\n  \n  FROM [ATOMO].[STG.TH_ACTIVIDAD_ENTREGABLE_HITO]\n  WHERE CAST([DTM_FECHACARGA] AS DATE) >= CONVERT(char(10), GetDate()-5,126)",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "DELETE FROM [ATOMO].[DWH.FACT_ACTIVIDAD_ENTREGABLE_HITO] WHERE CAST([DTM_FECHACARGA] AS DATE) >= CONVERT(char(10), GetDate()-5,126)",
									"writeBehavior": "Upsert",
									"upsertSettings": {
										"keys": [
											"FK_HITO",
											"FK_PARAM_INDICADOR",
											"FK_ENTREGABLE",
											"FK_ACTIVIDAD"
										],
										"interimSchemaName": "ATOMO"
									},
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FK_HITO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_HITO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_ENTREGABLE",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_ENTREGABLE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_ACTIVIDAD",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_ACTIVIDAD",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PERIODO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PERIODO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_TIEMPO",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "IND_CUMPLIMIENTO",
												"type": "Int32"
											},
											"sink": {
												"name": "IND_CUMPLIMIENTO",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											},
											"sink": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DESC_ORIGEN",
												"type": "String"
											},
											"sink": {
												"name": "DESC_ORIGEN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE",
												"type": "String"
											},
											"sink": {
												"name": "FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FECHA_CARGA_SYNAPSE"
											},
											"sink": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE"
											},
											"sink": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_syn_stg_th_actividad_entregable_hito",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_syn_dwh_fact_actividadentregable_hito",
									"type": "DatasetReference"
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "cd_syn_stg_dwh_fact_actividad_entregable_hito",
							"description": "",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlDWSource",
									"sqlReaderQuery": "SELECT [FK_HITO]\n      ,[FK_PARAM_INDICADOR]\n      ,[FK_ENTREGABLE]\n      ,[FK_ACTIVIDAD]\n      ,[FK_PERIODO]\n      ,CAST(CONCAT(CAST([FK_PERIODO] AS Varchar),'01') AS BIGINT) AS FK_TIEMPO \n      ,[IND_CUMPLIMIENTO]\n      ,[DESC_CORREO_USUARIO]\n      ,[DTM_FECHA_EVENTO_REGISTRO]\n      ,[DTM_FECHACARGA]\n      ,[DESC_ORIGEN]\n      ,[FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE]\n      ,CAST(CONCAT(CAST(GETDATE() AS DATE),' ',DATEPART(HOUR, dateadd(hour, -7, GETDATE())),':00:00.000')AS DATETIME) AS FECHA_CARGA_SYNAPSE\n      ,CAST(CONCAT(CAST(GETDATE() AS DATE),' ',DATEPART(HOUR, dateadd(hour, -5, GETDATE())),':00:00.000')AS DATETIME) AS FECHA_PROXIMA_ACTUALIZA_SYNAPSE\n  \n  FROM [ATOMO].[STG.TH_ACTIVIDAD_ENTREGABLE_HITO]",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "SqlDWSink",
									"preCopyScript": "TRUNCATE TABLE [ATOMO].[DWH.FACT_ACTIVIDAD_ENTREGABLE_HITO]",
									"writeBehavior": "Insert",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "FK_HITO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_HITO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PARAM_INDICADOR",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_ENTREGABLE",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_ENTREGABLE",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_ACTIVIDAD",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_ACTIVIDAD",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_PERIODO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_PERIODO",
												"type": "Int64"
											}
										},
										{
											"source": {
												"name": "FK_TIEMPO",
												"type": "Int64"
											},
											"sink": {
												"name": "FK_TIEMPO",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "IND_CUMPLIMIENTO",
												"type": "Int32"
											},
											"sink": {
												"name": "IND_CUMPLIMIENTO",
												"type": "Int32"
											}
										},
										{
											"source": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											},
											"sink": {
												"name": "DESC_CORREO_USUARIO",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHA_EVENTO_REGISTRO",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											},
											"sink": {
												"name": "DTM_FECHACARGA",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "DESC_ORIGEN",
												"type": "String"
											},
											"sink": {
												"name": "DESC_ORIGEN",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE",
												"type": "String"
											},
											"sink": {
												"name": "FK_TIPOSINCONSISTENCIA_ACTIVIDADENTREGABLE",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "FECHA_CARGA_SYNAPSE"
											},
											"sink": {
												"name": "FECHA_CARGA_SYNAPSE",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE"
											},
											"sink": {
												"name": "FECHA_PROXIMA_ACTUALIZA_SYNAPSE",
												"type": "DateTime"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "ds_syn_stg_th_actividad_entregable_hito",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_syn_dwh_fact_actividadentregable_hito",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "ATOMO/PLComplejos_Fact"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-02T13:07:19Z"
	}
}